{% extends "homepage_layout.html" %}
{% block title %}Welcome page{% endblock %}

{% block main %}
    <div class="form-container" style="place-items: center; padding:50px;">
        <img src="{{img1}}" alt="VoteChain Logo" class="mb-3" style="max-width: 150px; margin-bottom: 30px;">


        <div style="padding-left: 250px; padding-right: 250px; text-align: center; margin-bottom: 50px;">
            <h3><b style="color: #03396C;">Election</b> Management System that is based on <b style="color: red;">Blockchain</b> Technology</h3>
        </div>
        
        <h4 style="color: #03396C;"><b>By Team 13</b></h4>
        <div>
            <h5>Alqassim Ali<a style="color: red;">      -      </a>Hadeel Saad<a style="color: red;">      -      </a>Zahraa Muafaq<a style="color: red;">      -      </a>Reem Zeyad</h5>
        </div>
        
    </div>
{% endblock %}