{% extends "homepage_layout.html" %}
{% block title %} Account - VoteChain {% endblock %}

{% block main %}
<!--<form class="form" action="/account" method="GET" id="account" style="place-items: left;">-->
    <section class="grid-section" style="max-width: auto; max-height: auto; padding: 2px; grid-template-columns: 2fr 1fr">


      <div class="grid-left">
          <section class="grid-section" style="max-height: auto; margin: auto; padding: auto;grid-template-columns: 1fr 2fr">
              <div class="grid-left">
                  <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt="profilePic" style="max-width: 100px; border-radius: 30%; margin-left: 70px;">
              </div>
              <div class="grid-right" style="max-width: fit-content;">
                  <h5><b style="color: #999999;">Name: </b>{{user_info["username"]}}</h5>
                  <h5><b style="color: #999999;">Phone number: </b>{{user_info["phone_number"]}}</h5>
                  <h5><b style="color: #999999;">Registration Date: </b>{{user_info["date"]}}</h5>
              </div>
          </section>
      </div>

      <div class="grid-right" style="padding-left: 10px;"></div>
  </section>
<!--</form>-->

<!--<form class="form" action="/elections" method="POST" id="yourCurrentPoll">--> 
  <h3 class="h5 mb-3" style="padding-left: 20px;">Yours polls</h3>

    {% for poll in polls%}
    <a href='/admin_dashboard_poll?poll_id={{poll.poll_id }}' style="text-decoration: none;">
      <section class="grid-section" style="padding-left: 100px;">

        <div class="grid-left">
          <h4 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">{{ poll.title }}</h4>
          <p class="text-danger">Final day at {{poll.deadline}}</p>
        </div>

        <div class="grid-right" style="padding-left: 200px;"> 
          <img src='../static/images/polls images/{{poll.poll_id}}.png' alt="">
        </div>
        
      </section>
    </a>
    <div>
      <form method="POST" action="/delete_poll" style="padding-left: 30px;">
        <input type="hidden" name="poll_id" value={{poll.poll_id}}>
        <input type="hidden" name="title" value={{poll.title}}>
        <button class="btn" type="submit" style="background-color: #ce4040; color: white;">Delete Poll</button>
      </form>
    </div>
    {% endfor %}

<!--</form>--> 
<div>
  <section style="display: grid; place-items: center;">
    <a href="/create_poll" class="btn" style="background-color: #3e72a3; color: white;">Add Another Poll</a>
  </section>
</div>


  
{% endblock %}

