{% extends "homepage_layout.html" %}
{% block title %}Elections - VoteChain{% endblock %}

{% block main %}

<h2>Your Polls</h2>
  <div class=" form-container card mb-3 p-50" style="background-color: #03396C; color: white;">
    <h3 style="text-align: left; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">{{poll.title}}</h3>
    
    <div class="grid-section" style="margin-bottom: 2px;">
      <div class="grid-left">
        <h5>{{poll.voting_system}}</h5>
        <h5>Number of Voters: {{poll.number_of_voters}}</h5>
        <h5>Number of votes so far: {{poll.Number_of_votes_so_far}}</h5>
      </div>
    </div>

    <div class="grid-section" style="margin-top: 10px;">
      {% for candidate in candidates%}
        <div class="card mb-3 p-3" style="background-color: #999999;">
          <h4 style="text-align: left; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">{{candidate.candidate_name}}</h4>
          <p style="margin-left: 15px; color: #03396C;">Got {{candidate.count}} votes ({{candidate.percentage}}%) so far</p>
        </div>
      {% endfor %}
    </div>
    
  </div>
  

{% endblock %}