{% extends "homepage_layout.html" %}
{% block title %}Create Poll - VoteChain{% endblock %}
  
{% block main %}
<h2 style="text-align: center;">Create New Poll</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="/create_poll" method="POST" enctype="multipart/form-data" >
      <div class="grid-section">
        <div class="grid-left">
          <!-- Title input -->
          <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" class="form-control" placeholder="Enter poll title" name="title" required>
          </div>
          <!-- date input -->
          <div class="mb-3">
            <label class="form-label">Deadline</label>
            <input type="date" class="form-control" name="date" required>
          </div>
          <!-- Number of Voters -->
          <div class="mb-3">
            <label class="form-label">Number of Voters</label>
            <input type="number" class="form-control" placeholder="Enter number of voters" name="number_of_voters" required>
          </div>
          <!-- discription -->
          <div class="mb-3">
            <label class="form-label">Discription</label>
            <input type="text" class="form-control" placeholder="Write a discription" name="discription" value="">
          </div>
        </div>
        <div class="grid-right">
          <!-- voting system -->
          <div class="mb-3">
            <p>
              Voting System: Plurality
            </p>          
          </div>
          <!-- <div class="mb-3">
            <label class="form-label">voting system</label>
            <select type="number" class="form-control" placeholder="choose a voting system" name="voting_system" required>
              <option value="Plurality">Plurality</option>
              <option value="Runoff">Runoff</option>
              <option value="Tideman">Tideman</option>
            </select>
          </div> -->
          <!-- poll image  -->
          <div class="mb-3">
            <label class="form-label">Poll image</label>
            <input type="file" name="Poll image" accept="image/*">
          </div>
          <!-- candidates -->
          <div class="mb-3" id="candidate-inputs">
            <label class="form-label">Candidates</label>
            <input type="text" class="form-control" name="candidate_1" placeholder="Enter the name of candidate 1" required style="margin-bottom: 10px;">
            <input type="text" class="form-control" name="candidate_2" placeholder="Enter the name of candidate 2" required style="margin-bottom: 10px;">
          </div>
          <div style="margin: 20px;">
            <!-- Buttons -->
            <button type="button" class="btn" onclick="addCandidateInput()">Add Another Candidate</button>
            <button type="submit" class="btn">Create</button>
          </div>
        </div>
      </div>
    </form>
{% endblock %}
