{% extends "layout.html" %}
{% block title %}
    Reset Password
{% endblock %}
{% block main %}
    <form class="form" action="/forgetPassword" method="POST" id="VerifyForm" style="padding: 60px;">
        <label style="margin-left: 50px;">Write your username, email or your phone number to verify for reset your password</label>
        <hr>
        <div class="form-floating" style="padding-bottom: 20px;">
            <input type="text" class="form-control" id="username_or_phone_number" name="username_or_phone_number" placeholder="Enter your username or phone number" required>
            <label for="username" class="form-label">Username or Phone Number</label>
        </div>
        <div class="button-center" style=" margin-left: 80px; margin-right: 80px;">
            <button type="submit" class="btn" style="background-color: #5ea6e9;">Varify</button></div>
        <div>
            <a href="/login" class="btn btn-outline-primary" role="button" aria-pressed="true" style="position: absolute; margin-top: 100px; color: #03396C;">Cancel</a>
        </div>
        
    </form>
{% endblock %}