{% extends "layout.html" %}
{% block title %}
    Reset Password
{% endblock %}
{% block main %}
    <form class="form" action="/forgetPassword" method="POST" id="VerifyForm" style="padding: 60px;">
        <label style="margin-left: 50px;">Write your username, email or your phone number to verify for reset your password</label>
        <hr>
        <div class="mb-3 form-group rounded" style=" margin-left: 100px; margin-right: 100px;">
            <input type="text" class="form-control" id="verify_user">
        </div>
        <div class="button-center" style=" margin-left: 80px; margin-right: 80px;">
            <a href="/reset_password" type="submit" class="btn btn-primary" style="width: 50%; margin-top: 30px;">Verfiy</a>
        </div>
        <div>
            <a href="/login" class="btn btn-outline-primary" role="button" aria-pressed="true" style="position: absolute; margin-top: 100px; color: #03396C;">Cancel</a>
        </div>
        
    </form>
{% endblock %}