{% extends "homepage_layout.html" %}
{% block title %}
    Home page
{% endblock %}

{% block main %}
  <section class="grid-section">
    <!-- Left Content (Logo and Title) -->
    <div class="grid-left text-center">
      <img src="../static/images/voteChain.jpg" alt="VoteChain Logo" class="mb-3" style="max-width: 150px;">
      <h2>VoteChain</h2>
    </div>
    
    <!-- Right Content (Description and Button) -->
    <div class="grid-right text-center">
      <h3 style="padding-bottom: 25px;">Modern solution for a more secure electronic voting</h3>
      <a href="https://vitalik.eth.limo/general/2021/05/25/voting2.html" class="btn">Learn more</a>
    </div>
  </section>
  <!-- <form class="form" action="/voter" method="POST" id="homepageForm"> -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h3 class="h5 mb-3" style="padding-left: 20px;">Right Now</h3>
    {% for poll in polls%}
    <a href='/poll?poll_id={{poll.poll_id }}' style="text-decoration: none;">
      <section class="grid-section">

        <div class="grid-left">
          <h4>{{ poll.title }}</h4>
          <p class="text-danger">Final day at {{poll.deadline}}</p>
          {%if poll.finish %}<p class="text-danger">Poll Ended</p>{%endif%}
          
          <p>Created by {{poll.username}}</p>

        </div>

        <div class="grid-right"> 
          <img src='../static/images/polls images/{{poll.poll_id}}.png' alt="">
        </div>
        
      </section>
    </a>
    {% endfor %}

  <!-- </form> -->
{% endblock %}