{% extends "homepage_layout.html" %}
{% block title %}
    Home page
{% endblock %}

{% block main %}
    <form class="form" action="/main" method="POST" id="homepageForm">
      <h3 class="h5 mb-3" style="padding-left: 20px;">Right Now</h3>
          <a href="/main" style="text-decoration: none;">
            <section class="grid-section">
  
              <div class="grid-left">
                <h4>2024 United States Presidential Election</h4>
                <p class="text-danger">Final day at Tuesday, November 5, 2024</p>
              </div>
              <div class="grid-right">
                <img src="../static/images/2024-us-election.png" alt="Vote people">
              </div>
              
            </section>
          </a>
    </form>
{% endblock %}