{% extends "homepage_layout.html" %}
{% block title %}Poll - VoteChain{% endblock %}

{% block main %}





<h3 style="text-align: center; margin-bottom: 50px;">{{poll.title}}</h3>




  <form class="form" action="/poll" method="POST" id="voting_ballot">
    <div class="form-container" style="background-color: #03396C; max-width: auto;">
      <h5 style="text-align:left; color: white;">{{poll.voting_system}}</h5>
      <div class="grid-section">

        <div class="grid-left">
          {% for candidate in candidates%}
            <div class="card mb-3 p-3 grid-section" style="max-width: 500px; background-color: #999999; color: #03396C;">        
              <div class="grid-left">
                <label for="{{candidate.candidate_index}}" style="margin-left: 30px;"><h4>{{candidate.candidate_name}}</h4></label>
              </div>

              <div class="grid-right">
                <input type="radio" id="candidate_index" name="candidate_index" value={{candidate.candidate_index}} style="margin-left: 100px;">
              </div>
              
              
            </div>
          {% endfor %}

        </div>
        
        <div class="grid-right" style="place-items: center;">
          <div class="form-floating" style="margin-bottom: 50px;">
            <input type="text" id="voting_key" class="form-control" name="voting_key" placeholder="voting_key" required>
            <label for="voting_key" class="form-label" style="color: #03396C;">Voting Key</label>
            <input name="poll_id" hidden value = {{poll.poll_id}}>
          </div>
          
          <button type="submit" class="btn btn-secondary" style="background-color: #999999; color: #03396C; place-items: center;">Encrypt and Send Voting Ballot</button>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" style="color: rgb(255, 255, 255)">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
      </div>
      
    </div>
    
  </form>
  <!-- code for encryption -->
  <script src="https://cdn.jsdelivr.net/npm/jsencrypt/bin/jsencrypt.min.js"></script>
  <script>
    document.getElementById("voting_ballot").addEventListener("submit", function(event) {
        event.preventDefault();
        console.log("candidate_index:", event.target.elements.candidate_index.value);
        var message = event.target.elements.candidate_index.value;
        var publicKey = document.getElementById("voting_key").value;
    
        // Create an instance of JSEncrypt
        var encrypt = new JSEncrypt();
        encrypt.setPublicKey(publicKey);  // Set the public key
    
        // Encrypt the message
        var encryptedMessage = encrypt.encrypt(message);
    
        // Check if the message was encrypted
        if (encryptedMessage) {
            console.log("Encrypted Message: " + encryptedMessage);
    
            // Send the encrypted message to the Flask backend
            fetch("/poll", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    encryptedMessage: encryptedMessage,
                    poll_id: 41,
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log("Response from backend:", data);
                location.reload();
            })
            .catch(error => console.error("Error:", error));
        } else {
            alert("Encryption failed!");
        }
    });
    </script>
</section>


{% endblock %}
