{% extends "layout.html" %}
{% block title %}
    Reset Password
{% endblock %}
{% block main %}
<form class="form" action="/reset_password" method="POST" id="RestPasswordForm" style="padding: 60px;">
    <div class="form-floating" style="padding-bottom: 20px;">
        <input type="text" class="form-control" id="password" name="password" placeholder="password" required>
        <label for="username" class="form-label">Password</label>
    </div>

    <div class="power-container" style="margin-top: 10px; margin-bottom: 10px;">
        <div id="power-point"></div>
    </div>


    <div class="mb-3 form-floating rounded" style=" margin-left: 100px; margin-right: 100px;">
        <input type="text" class="form-control" id="confirmresetpassword1" placeholder="Confirm new password">
        <label for="confirmresetpassword1" class="form-label">Confirm new password</label>
    <div class="form-floating" style="padding-bottom: 20px;">
        <input type="text" class="form-control" id="rewrite_password" name="rewrite_password" placeholder="Enter your username or phone number" required>
        <label for="username" class="form-label">rewrite password</label>
    </div>
    <div class="button-center" style=" margin-left: 80px; margin-right: 80px;">
        <button type="submit" class="btn" style="background-color: #5ea6e9;">Confirm</button></div>
    <div>
    <div>
        <a href="/forgetPassword" class="btn btn-outline-primary" role="button" aria-pressed="true" style="position: absolute; margin-top: 100px; color: #03396C;">Back</a>
    </div>
    
</form>
<script>
    let password = document.getElementById("resetpassword1");
    let power = document.getElementById("power-point");
    password.oninput = function () {
        let point = 0;
        let value = password.value;
        let widthPower = ["1%", "25%", "50%", "75%", "100%"];
        let colorPower = ["#D73F40", "#DC6551", "#F2B84F", "#BDE952", "#3ba62f"];

        if (value.length >= 6) {
            let arrayTest = [/[0-9]/, /[a-z]/, /[A-Z]/, /[^0-9a-zA-Z]/];
            arrayTest.forEach((item) => {
                if (item.test(value)) {
                    point += 1;
                }
            });
        }
        power.style.width = widthPower[point];
        power.style.backgroundColor = colorPower[point];
    };
</script>
{% endblock %}