{% extends "layout.html" %}
{% block title %}
    Reset Password
{% endblock %}
{% block main %}
<form class="form" action="/reset_password" method="POST" id="RestPasswordForm" style="padding: 60px;">
    <div class="form-floating" style="padding-bottom: 20px;">
        <input type="text" class="form-control" id="password" name="password" placeholder="password" required>
        <label for="username" class="form-label">Password</label>
    </div>
    <div class="form-floating" style="padding-bottom: 20px;">
        <input type="text" class="form-control" id="rewrite_password" name="rewrite_password" placeholder="Enter your username or phone number" required>
        <label for="username" class="form-label">rewrite password</label>
    </div>
    <div class="button-center" style=" margin-left: 80px; margin-right: 80px;">
        <button type="submit" class="btn" style="background-color: #5ea6e9;">Confirm</button></div>
    <div>
    <div>
        <a href="/forgetPassword" class="btn btn-outline-primary" role="button" aria-pressed="true" style="position: absolute; margin-top: 100px; color: #03396C;">Back</a>
    </div>
    
</form>
{% endblock %}